/* Button main */
.btn-main {
  color: #ffffff;
  background-color: #f82873;
  border-color: #cb2e56;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ffffff;
  background-color: #f278a4;
  border-color: #f82873;
}
