/* Button main */
.btn-main {
  color: #ffffff;
  background-color: $base-color;
  border-color: #130269;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ffffff;
  background-color: #6876b3;
  border-color: #130269;
}
