.module--dashboard {
  display: flex;
  .module--dashboardNav {
    width: 14.375em;
    min-height: 100vh;
    background: $base-color;
    @include respond-to(tabletPhone) {
      width: 6.25em;
      display: none;
      &.extend {
        display: block;
      }
    }

    &.mobile {
      width: 6.25em;
    }
  }
  .module--dashboardContainer {
    background: #f8f9fc;
    width: calc(100% - 14.375em);
    &.mobile {
      width: calc(100% - 6.25em);
    }
    @include respond-to(tabletPhone) {
      width: calc(100%);
      &.extend {
        width: calc(100% - 6.25em);
      }
      &.mobile {
        width: 100%;
      }
    }
  }
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
}
