.grids--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include respond-to(mobile) {
    flex-wrap: wrap;
  }
  .grid-title {
    width: 100%;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 13px;
      color: #ede8ea;
      text-transform: uppercase;
      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #f82873;
        border-radius: 3px;
        border: solid 1px $base-color;
        margin-right: 10px;
      }
    }
    p {
      font-size: 12px;
      color: #ede8ea;
      margin: 5px 0 0 20px;
      padding: 0;
    }
  }
  .grid-pie {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 200px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    @include respond-to(tabletPhone) {
      &.grid-pieScroll {
        overflow: scroll;
      }
    }
    .grid-pieTable {
      border-collapse: collapse;
      width: 100%;
      color: #ede8ea;
      font-size: 11px;
      td,
      th {
        border: 1px solid #ede8ea;
        font-weight: normal;
        align-items: center;
        padding: 5px;
        text-align: center;
        &.optimo {
          background-color: #00c756;
        }
        &.optimo-2 {
          color: $base-color;
          background: rgb(0, 199, 86);
          background: linear-gradient(
            90deg,
            rgba(0, 199, 86, 1) 0%,
            rgba(254, 253, 27, 1) 39%,
            rgba(254, 253, 27, 1) 65%,
            rgba(254, 137, 27, 1) 90%
          );
        }
        &.optimo-3 {
          color: $base-color;
          background: rgb(0, 199, 86);
          background: linear-gradient(
            90deg,
            rgba(0, 199, 86, 1) 0%,
            rgba(254, 253, 27, 1) 51%
          );
        }
        &.alerta {
          background-color: #fe891b;
        }
        &.bajoriesgo {
          background-color: #fefd1b;
          color: $base-color;
        }
        &.enriesgo {
          background-color: #ff2f1e;
        }
      }
    }
  }
  .grid-loading {
    width: 100%;
    min-height: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: #ede8ea;
      font-size: 30px;
    }
  }
  .grid-button_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    &.justify--normal {
      justify-content: normal;
      align-items: center;
    }
    .grid-button_select {
      margin-right: 10px;
      .form-group {
        margin-bottom: 0;
        select {
          color: #ede8ea;
          border: solid 1px #ede8ea;
          font-size: 13px;
          height: 60px;
          background: #222a40;
        }
      }
    }
    .grid-button {
      position: relative;
      z-index: 2;
      padding: 1rem 0 1rem 0;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        > li {
          color: #ede8ea;
          font-weight: normal;
          font-size: 12px;
          margin-right: 10px;
          padding: 8px;
          border: solid 1px #ede8ea;
          border-radius: 5px;
          position: relative;
          cursor: pointer;
          .grid-button_menu-date {
            display: flex;
            flex-wrap: wrap;
            width: 200px;
            .grid-button_menu-date_a {
              width: 200px;
            }
            .grid-button_menu-date_b {
              margin-top: 6px;
              width: 100px;
            }
          }
          .input-date {
            width: 100%;
            background: transparent;
          }
          .react-datepicker__close-icon {
            &:after {
              background-color: #cb2e56;
            }
          }
          &.active {
            background-color: #cb2e56;
          }
          &.active.optimo {
            background-color: #00c756;
          }
          &.active.alerta {
            background-color: #fe891b;
          }
          &.active.bajoriesgo {
            background-color: #fefd1b;
            color: $base-color;
          }
          &.active.enriesgo {
            background-color: #ff2f1e;
          }
          &.active-submenu {
            color: #d2aec0;
            > ul {
              display: flex;
            }
          }
          > ul {
            display: none;
            flex-wrap: wrap;
            position: absolute;
            top: 40px;
            left: 0px;
            background: #ede8ea;
            border-radius: 5px;
            padding: 10px;
            &:before {
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              content: '\f0de';
              position: absolute;
              left: 11px;
              font-size: 20px;
              top: -12px;
              z-index: 2;
              color: #ede8ea;
              transition: transform 0.5s ease-in-out;
            }
            &:after {
              content: '';
              z-index: 1;
              width: 100%;
              position: absolute;
              top: -7px;
              left: 0;
              height: 10px;
              background: transparent;
            }
            li {
              width: 100%;
              color: $base-color;
              margin: 0;
              padding: 0;
              &.active--color,
              &:hover {
                color: #cb2e56;
              }
              + li {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .grid-text__main {
    width: 100%;
    margin: 1rem 0;
    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
      color: #ede8ea;
      font-size: 14px;
      strong.red {
        color: #ff2f1e;
      }
      strong.yellow {
        color: #fefd1b;
      }
      strong.orange {
        color: #fe891b;
      }
      strong.green {
        color: #00c756;
      }
    }
  }
  .grid-simbo {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      color: #ede8ea;
      font-size: 11px;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 10px;
        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: #f82873;
          border-radius: 3px;
          border: solid 1px $base-color;
          margin-right: 10px;
        }
        &.red {
          &:before {
            background: #ff2f1e;
          }
        }
        &.yellow {
          &:before {
            background: #fefd1b;
          }
        }
        &.orange {
          &:before {
            background: #fe891b;
          }
        }
        &.green {
          &:before {
            background: #00c756;
          }
        }
        &.riesgo-optimo {
          &:before {
            background: #9bf0ac;
          }
        }
        &.riesgo-bajoriesgo {
          &:before {
            background: #f0ef9b;
          }
        }
        &.riesgo-alerta {
          &:before {
            background: #fe891b;
          }
        }
        &.riesgo-enriesgo {
          &:before {
            background: #cb2e56;
          }
        }
        &.riesgo-bajoriesgo {
          &:before {
            background: #e7e30d;
          }
        }
        &.fit2000-optima {
          &:before {
            background: #6bf620;
          }
        }
        &.fit2000-alerta {
          &:before {
            background: #ff9f33;
          }
        }
        &.fit2000-bajoriesgo {
          &:before {
            background: #e7e30d;
          }
        }
        &.fit2000-enriesgo {
          &:before {
            background: #f278a4;
          }
        }
        &.sobereye-optima {
          &:before {
            background: #399208;
          }
        }
        &.ktest-optima {
          &:before {
            background: #316317;
          }
        }
        &.ktest-alerta {
          &:before {
            background: #b8641f;
          }
        }
        &.ktest-enriesgo {
          &:before {
            background: #b81f1f;
          }
        }
        &.sobereye-enriesgo {
          &:before {
            background: #8b0737;
          }
        }
        &.conducta-optima {
          &:before {
            background: #a9f372;
          }
        }
        &.conducta-alerta {
          &:before {
            background: #ff7133;
          }
        }
        &.conducta-bajoriesgo {
          &:before {
            background: #f3db72;
          }
        }
        &.conducta-enrisgo {
          &:before {
            background: #d2aec0;
          }
        }
      }
    }
  }
  .grid-3 {
    box-sizing: border-box;
    width: calc(33% - 16px);
    background: #222a40;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 8px;
    @include respond-to(mobile) {
      width: 100%;
    }
  }
  .grid-1 {
    box-sizing: border-box;
    width: calc(100% - 16px);
    background: #222a40;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 8px;
    &.no-color {
      background: transparent;
      padding: 0 1rem;
    }
  }
}
